a:link {
    color: #FF0000;
}

a:visited {
    color: aqua;
}

a:active {
    color: blue;
}

a:hover {
    color: blueviolet;
}

p {
    display: none;
    background-color: yellow;
    padding: 20px;
}

div:hover p {
    display: block;
}
p:first-child{
    color: blue;
}